<div data-role="panel" id="mypanel" data-theme="a" data-display="reveal">



      <div style="width: 100%; min-height: 35px; margin-top:15px">

              <div class="ui-btn-text pnlBtnMain"> 
                <a class="ui-link-inherit" href="index.html">
                    <span class="ui-icon ui-icon"></span>
                    <%= image_tag "home.png", class:"circleWrapSm icn panelIcon" %>
                      <span class="me-ui-icon-label navLink">Home</span></a>    
                  </div>

              <div class="ui-btn-text pnlBtnMain"> 
                <a class="ui-link-inherit" href="setting.html">
                    <span class="ui-icon ui-icon"></span>
                    <%= image_tag "ArtistPic300x300.jpg", class:"circleWrapSm icn panelIcon" %>
                      <span class="me-ui-icon-label navLink">Profile</span></a>    
                  </div>

              <div class="ui-btn-text pnlBtnMain" style="margin-bottom:10px"> 
                <a class="ui-link-inherit" href="setting.html">
                    <span class="ui-icon ui-icon"></span>
                    <%= image_tag "setting.png", class:"circleWrapSm icn panelIcon" %>
                      <span class="me-ui-icon-label navLink">Settings</span></a>    
                  </div>

            <div style="clear:both !important">
            <%= image_tag "ArtistPic300x300.jpg", class:"circleWrapPanl icn panelIcon" %>
                <a class="ui-link-inherit" href="fundCause.html"><div class="notice left FG FGL" style="  font-size: 10px;text-shadow: none;color: black;">
                    You are ready for a donation!!! Let's End Cancer.
                  </div></a> 
                </div>

                 <div class="sponsor" style="clear:both !important; font-size: 10px;text-shadow: none;color: black; ">
                <%= image_tag "fitgiverblk.png", class:"floatL" %>
                    <br>wants to be your sponsor and offer you points for your recent activity.
                  </div>
                   

            <div style="clear:both !important">
            <%= image_tag "ArtistPic300x300.jpg", class:"circleWrapPanl icn panelIcon" %>
                <div class="notice left GY GYL" style="  font-size: 10px;text-shadow: none;color: black;">
                   You have an new activity posted by Runkeeper.
                  </div>
                </div>

            <div style="clear:both !important">
            <%= image_tag "ArtistPic300x300.jpg", class:"circleWrapPanl icn panelIcon" %>
                <div class="notice left RD RDL" style="  font-size: 10px;text-shadow: none;color: black;">
                    Accept your Sponsorship and earn more points.
                  </div>
                </div>       

            <div class="sponsor" style="clear:both !important; font-size: 10px;text-shadow: none;color: black;">
                <%= image_tag "chaselogo.png", class:"floatL" %>
                    <br>wants to be your sponsor and offer you points for your recent activity.
                  </div>
                   


        
                 




    </div> <!-- Divs --> 


</div><!-- Data Role Panel -->