<% content_for :title, "Recent Activity" %>

<!-- Header and Nav -->
  
  <div id="header" class="row">
    <div class="large-3 columns">
      <h1><a href="#navbar"><%= image_tag "menu.png" , class:"hidebig" %></a><%= image_tag "fitgiver.png" , class:"centersmall" %></h1>
    </div>
    <div class="large-9 columns">
      <!--<ul class="inline-list right">
        <li><a href="#">Section 1</a></li>
        <li><a href="#">Section 2</a></li>
        <li><a href="#">Section 3</a></li>
        <li><a href="#">Section 4</a></li>
      </ul>-->
    </div>
  </div>
  
  <!-- End Header and Nav -->
  
  
  <div class="row">    
  
    <!-- Main Feed -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 push-3 columns">
    
    
    <!--<canvas id="myChart" style="width:100%; height="400"></canvas>-->
    
    
    <!-- REMOVE BELOW ONCE THE ISSUE WITH THE DATABASE HAS BEEN RESOLVED-->
    
    <!-- <div class="itemcard">
    <div class="row">
        	<a href="">
        	<div style="display:inline;">
				<span style="display:inline;" class="comment_count"><%= image_tag "chatIcon.png" %> 50</span>
			</div>
			</a>
			
            <div class="large-2 columns small-3"><a href=""><%= image_tag "ArtistPic300x300.jpg" , :class => "circleWrap"%></a></div>
            
            <div class="large-10 columns">
              <a href=""><p><strong class="name" style="display:inline">MAXIMUS's</strong><div class="achievement">Eating so much he now smells like tuna, We did it!!</div></p>
              <p><div style="display:inline" class="points">1000 pts  |  </div><div class="timeago" style="display:inline;">5 mins</div></p>
              </a>
            </div>  
            
	</div>   
    </div> 
    
        <hr />
        
        <div class="itemcard">
    <div class="row">
        	<a href="">
        	<div style="display:inline;">
				<span style="display:inline;" class="comment_count"><%= image_tag "chatIcon.png" %> 50</span>
			</div>
			</a>
			
            <div class="large-2 columns small-3"><a href=""><%= image_tag "ArtistPic300x300.jpg" , :class => "circleWrap"%></a></div>
            
            <div class="large-10 columns">
              <a href=""><p><strong class="name" style="display:inline">MAXIMUS's</strong><div class="achievement">Eating so much he now smells like tuna, We did it!!</div></p>
              <p><div style="display:inline" class="points">1000 pts  |  </div><div class="timeago" style="display:inline;">5 mins</div></p>
              </a>
            </div>  
            
	</div>   
    </div> 
    
        <hr />
        
        
        <div class="itemcard">
    <div class="row">
        	<a href="">
        	<div style="display:inline;">
				<span style="display:inline;" class="comment_count"><%= image_tag "chatIcon.png" %> 50</span>
			</div>
			</a>
			
            <div class="large-2 columns small-3"><a href=""><%= image_tag "ArtistPic300x300.jpg" , :class => "circleWrap"%></a></div>
            
            <div class="large-10 columns">
              <a href=""><p><strong class="name" style="display:inline">MAXIMUS's</strong><div class="achievement">Eating so much he now smells like tuna, We did it!!</div></p>
              <p><div style="display:inline" class="points">1000 pts  |  </div><div class="timeago" style="display:inline;">5 mins</div></p>
              </a>
            </div>  
            
	</div>   
    </div> 
    
        <hr />
        
        
        <div class="itemcard">
    <div class="row">
        	<a href="">
        	<div style="display:inline;">
				<span style="display:inline;" class="comment_count"><%= image_tag "chatIcon.png" %> 50</span>
			</div>
			</a>
			
            <div class="large-2 columns small-3"><a href=""><%= image_tag "ArtistPic300x300.jpg" , :class => "circleWrap"%></a></div>
            
            <div class="large-10 columns">
              <a href=""><p><strong class="name" style="display:inline">MAXIMUS's</strong><div class="achievement">Eating so much he now smells like tuna, We did it!!</div></p>
              <p><div style="display:inline" class="points">1000 pts  |  </div><div class="timeago" style="display:inline;">5 mins</div></p>
              </a>
            </div>  
            
	</div>   
    </div> 
    
        <hr /> -->
        

    <!-- REMOVE ABOVE ONCE THE ISSUE WITH THE DATABASE HAS BEEN RESOLVED-->
    
    
    
    	<%= render "shared/feed" %>
    </div>
    
    
    <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    	<div class="large-3 pull-9 columns">
      	<ul class="side-nav">
        	<%= render "shared/menu" %>
      	</ul>
      	
      	
      	<!--<p><img src="http://placehold.it/320x240&text=Ad" /></p>-->
    	</div>
  </div>
    
  
  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <!--<hr />-->
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; FitGiver 2013</p>
        </div>
        <div class="large-6 columns">
          <!--<ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
          </ul>-->
        </div>
      </div>
    </div> 
  </footer>
